<!-- About view -->
<ion-view title="About">
  <ion-content class="has-header padding">
    <div class="col text-center card">
      <h4>Join our Slack channel #imagine</h4>
      <p style="color:#999999;">Connect with others, share comments and photos throughout the event!</p>
      <a href="#" class="button button-block button-balanced icon-left ion-pound" style="font-size:20px;" ng-click="goToURL(config.slack)">Join Slack #imagine</a>
    </div>
    <!--
    <a href="#" class="item center" ng-click="goToURL(config.slack)">
      <img src="img/slack.png" style="height:30px;">
      <span style="color:#c0c0c0;font-size:20px;">&nbsp;&nbsp;Tech Talks channel</span>
    </a>
    -->
    <div class="col text-center">
      <h4 style="color:#999999;">FYE 2017 - Shareholders Week</h4>
    <div>
    <div class="col text-center">
      <img src="img/logotech_about.png" style="width:40%">
      <span>
        <h1>Tech Live</h1>
        <h4>Imagine the Future</h4>
      </span>
    <div>
    <!--
    <div class="col text-center">
      <img src="img/logotech_about.png" style="width:50%"></img>
    <div>
    -->
    <div class="col text-center">
      <p class="positive">"The best way to predict the future is to invent it"</p>
      <p>- David Glass</p>
    <div>
    <div>
      <h3 style="font-weight:bold;">About the <span class="positive">Tech Live</span> event</h3>
    <div>
    <p style="color:#999999;">
      Walmart Tech Live: Imagine the Future, is a half day morning event focus in technology. Since Walmart has relied on disruptive tech to distance us from
      our competitors, we have selected a few expert presenters of key future strategic technical focus areas (external and internal) to ignite the learners in
      our organization at all levels and inspire a new generation of innovators.
    </p>
    <p style="color:#c0c0c0;">
      Walmart Tech Live will have breakout sessions that will be focused on those associates with specific needs or desires to learn more in that specific area.
    </p>
    <div>
      <h3 style="font-weight:bold;">About the <span class="positive">Tech Live</span> app</h3>
    <div>
    <p style="color:#999999;">
      Tech Live Mobile App is the official event app for Walmart, it gives you access to the all-day Walmart Tech Live agenda; it provides detailed information
      about the content and the speakers, and allows you to save your favorite talks to your calendar.
    </p>
    <br><br>
    <p style="color:#c0c0c0;">
      For more information, questions and concerns email: <span class="positive">techlive@walmart.com</span>
    </p>
    <div>
      <div style="color:#c0c0c0;font-size:12px;">Powered by</div>
      <img src="img/gts_logo.png" style="width:50%"></img>
    </div>
  </ion-content>
</ion-view>
