<ion-modal-view>
  <div class="bar bar-header bar-positive">
    <h1 class="title">Map</h1>
    <button class="button icon ion-close" ng-click="closeModal()"></button>
  </div>
  <!--
  <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false" style="height:100%">
		<img src="img/map.png">
	</ion-scroll>
  -->
  <ion-content zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">
		<img src="img/map.png">
	</ion-content>
</ion-modal-view>
