<ion-header-bar class="bar-positive">
  <!--<h1 class="title">Tech Talks</h1>-->
  <div style="text-align:center" class="title">
    <img src="img/headerLogo.png" style="height:100%;padding-top:5px;">
  </div>
</ion-header-bar>
<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-energized">

  <!-- Schedule Tab -->
  <ion-tab title="Schedule" href="#/app/sessions">
    <ion-nav-view name="app-sessions"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" href="#/app/about">
    <ion-nav-view name="app-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
